/* styles.css */
@keyframes fall {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
    }
  }
  
  .comet {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--color-white);
    border-radius: 50%;
    animation: fall 5s linear infinite;
  }