@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Animation for Rocket Movement */
@keyframes moveRocket {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}



@keyframes fallingStar {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.ttf") format("Poppins-bold"),
    url("./fonts/Poppins-Medium.ttf") format("Poppins-medium");
  font-weight: normal;
  font-style: normal;
}

.font-bold {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.font-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
}

html {
  scroll-behavior: smooth;
}
/* Glow effect */
.glow-effect {
  box-shadow: 0 0 2px rgb(0, 30, 255);
}
